/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html,
body {
  margin: 0;
  padding: 0;
  color: #333;
  background-color: #f1f1f1;
  font-family: sans-serif;
  line-height: 1.15; /* 1 */
	-webkit-text-size-adjust: 100%; /* 2 */
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/**
 * Render the `main` element consistently in IE.
 */

main { display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}


*,
*:before,
*:after {
	/* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

img {
	height: auto;
	/* Make sure images are scaled correctly. */
	max-width: 100%;
	/* Adhere to container width. */
    border-style: none;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Links
   ========================================================================== */
a {
    background-color: transparent;
	color: #4d3160;
	font-weight: bold;
	text-decoration: none;
    transition: 0.3s;
}

/*a:visited {
	color: purple;
}*/

a:hover, a:focus, a:active { color: purple; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * Add the correct font size in all browsers.
 */
small { font-size: 80%; }

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */ overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */ text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset { padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress { vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea { overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}


/* ========================================================================== */

.page-header {}

.section-starter-hdr {}


/* HEADER
   ========================================================================== */

/* IF HAS BLOG - FRONT PAGE ANNOUNCEMENT  */
#fp-announcement {
  background-color: #8798ad;
  text-align: center;
  padding-bottom: 30px;
}

#fp-announcement h2 {
  font-family: The Artisan Script;
  font-weight: bold;
  padding: 20px 0;
}

#tra-img img { box-shadow: 3px 3px 3px #1c1e26; }
.fp-announcements p { font-size: 1.25rem; }

.catch-announce {
  margin-top: 15px;
  border: 1px solid #333;
  border-radius: 5px;
  padding: 5px 15px;
  color: #333;
}

.catch-announce:hover {
  background-color: #373f48;
  color: white;
}

/* FRONT PAGE PANEL 1
   ========================================================================== */

/* IF HAS EVENTS - FRONT PAGE EVENTS  */
.frpg-events {
  background-color: #5d6979;
  text-align: center;
}

/* REMAINDER: mimics events page */



/* FRONT PAGE PANEL 2
   ========================================================================== */





/* FRONT PAGE PANEL 3
   ========================================================================== */



/* FRONT PAGE PANEL 4
   ========================================================================== */


/* INDEX
   ========================================================================== */

#blpg-comp {}

.norm-post-side {
	display: flex;
	flex-direction: row;
}

.left {
	flex: 73%;
	padding-right: 20px;
}

#post-item {
	display: flex;
	flex-direction: row;
}

.post-thumb {
	width: 25%;
	height: 35%;
	margin: 2% 2% auto auto;
	min-width: 200px;
}

.post-content {
	width: 75%;
	margin: auto auto auto 5%;
}

.blog-post-title {}

.metabox a {}

.metabox a:hover {}

.generic-post-content {
	margin-bottom: 10px;
	min-width: 300px;
}

.blog-contin {
	padding: 5px 10px 5px 10px;
	border: 2px solid black;
	border-radius: 5px;
	transition: 0.2s;
}

.blog-contin:hover {}

/* SHARE TEMPLATE
   ========================================================================== */

#share-posts {
  width: 80%;
  margin-left: 10%;
}

#share-posts h4 {
  font-size: 1.25rem;
  text-align: center;
}

.share-icon {
  margin: 10px 0 0 0px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
    justify-content: center;
  font-size: 83%;
}

.share-icon a { margin-right: 10px; }

.share-icon a .fa-facebook {
  color:cornsilk;
  font-size: 35px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.share-icon a .fa-twitter-square {
  color:cornsilk;
  font-size: 35px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.share-icon a .fa-linkedin {
  color:cornsilk;
  font-size: 35px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active { -webkit-transform: scale(1.1); -ms-transform: scale(1.1); transform: scale(1.1); }

.copy-link-col { margin-top: -5px;}

.copy-link-btn {
  background-color:transparent;
  color: cornsilk;
  padding: 3px 10px 4px 10px;
  border: 2px solid cornsilk;
  border-radius: 5px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.copy-link-btn:hover { background-color: #373f48; }

#copied {
  margin: 5px 0 0 7px;
  text-align: center;
}




/* SIDEBAR
   ========================================================================== */

.cats {}

.right {
	flex: 25%;
	padding-left: 10px;
}

#sidebar-content {
  width: 250px;
	background-color: white; 
	float: right;
}

#sidebar-content .side-title h2{
	text-align: center;
	font-size: 1.75em;
	padding-bottom: 5px;
}

#sidebar-content .side-note h3 {
	text-align: center;
	font-size: 1.4em;
	color: #333333;
	padding-bottom: 5px;
}

#sidebar-content ul li {
	list-style-type: none;
	padding: 2px 0;
	font-size: 1.25rem;
}

ul.side-list { margin-left: -10%; }

.cat-title {
	text-align: center;
	font-size: 1.5em;
	padding-bottom: 5px;
}

li.categories { padding-left: 15%; }
li.cat-item a { color: #089abe; }

li.cat-item a:hover {
	color: #aa1f2e;
	text-decoration: none;
}

/* PAGE
   ========================================================================== */

#page-comp {}



/* SINGLE
   ========================================================================== */

#sing-comp,
#prod-comp,
#page-comp,
#event-comp {
  padding-bottom: 30px;
  padding-top: 3%;
}

.sing-pg-hdr { margin-left: -15px; }
.quickie { text-align: center; }

.quickie img {
  max-width: 300px;
  padding: 20px 0;
}

.relate-post {
	margin: auto;
	text-align: center;
	height: 240px;
}

.relate-post img { padding-bottom: 5px; }
.comment-body { text-align: left; }
.comment-form-comment label { display: block; }
.blog-comment { text-align: center; }
.index-flex .hr-sidebar-sep { display: none; }


/* PRODUCT PAGE / ARCHIVE PRODUCT
   ========================================================================== */
#archProduct-page .products { margin-bottom: 30px; }

#archProduct-page .main-btn {
	font-size: 110%;
	padding: 7px 18px;
}

/* PRODUCT- SINGLE
   ========================================================================== */

.product-side {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-bottom: 80px;
}

.product-side h1.page-header { margin-top: 40px; }
.product-side a.main-btn { font-size: 90%; }
.inquire-prod { padding-top: 40px; }
#product-share { padding-top: 30px; }

/* product-carousel */
.carousel-inner img { width: 100%; }

#myCarousel .carousel-indicators {
  position: static;
  margin-top: 0px;
}

#myCarousel .carousel-indicators > li { width: 100px; }

#myCarousel .carousel-indicators li img {
  display: block;
  opacity: 0.5;
}

#myCarousel .carousel-indicators li.active img { opacity: 1; }
#myCarousel .carousel-indicators li:hover img { opacity: 0.75; }

/* product-tab */
#product-tab {
  width: 90%;
  max-width: 1200px;
  margin: auto auto 70px auto;
}

#product-tab li .active { border-bottom: 2px solid #e995a1; }

#product-tab li {
  padding: 10px;
  margin-right: 10px;
}

#product-tab .tab-content { padding-top: 20px; }

/* prod-reviews */

.prod-reviews {
  width: 70%;
  margin: auto;
  font-size: 80%;
  color: gray;
}

.prod-review-img { width: 50%; }


/* EVENTS PAGE / ARCHIVE EVENTS
   ========================================================================== */
.all-events-page {
  max-width: 1200px;
  margin-top: 50px;
}

.event-posting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  max-height: 240px;
  border-top: 1px solid cornsilk;
  border-bottom: 1px solid cornsilk;
  padding: 20px 0;
  max-width: 500px;
  margin: 50px auto;
}

.event-posting:hover {
  border-top: 3px solid cornsilk;
  border-bottom: 3px solid cornsilk;
  max-height: 246px;
  margin-top: 47px;
  margin-bottom: 47px;
}

.event-page-date {
  height: 125px;
  border-radius: 50%;
  max-height: 125px;
  width: 100px;
  color: cornsilk;
  text-align: center;
  margin-top: 10px;
}

.event-date-inset {
  background-color: #fff8dc;
  border-radius: 50%;
  color: #373f48;
  font-size: 1.5rem;
  font-weight: bold;
  width: 105px;
  border: 5px solid #373f48;
  height: 105px;
  padding: 5px 0;
  margin: 15% auto;
}

.event-details {
  text-align: center;
  font-size: 90%;
}

.event-details h2 { font-size: 1.75rem;}
.event-details h4 { font-size: 1.2rem; }
.event-details a { color: cornsilk; }

.event-more {
  display: inline-block;
  margin-top: 25px;
  background-color: #5d6979;
  padding: 5px 15px;
  border: 1px solid cornsilk;
  border-radius: 5px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.event-more:hover { background-color: #373f48; }


/* EVENT SINGLE
   ========================================================================== */
.event-single .container {
  max-width: 800px;
  color: #16262e;
  margin: 50px auto 20px auto;
  /*background-color: #9ea5af;*/
  padding-bottom: 15px;
  /*box-shadow: 1px 1px 5px black;*/
  border-top: 2px solid cornsilk;
  border-bottom: 2px solid cornsilk;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.event-single h2 { color: cornsilk; }
.event-single a { color: #16262e; }
.event-single .row { padding-bottom: 15px; }

.event-single img {
  max-height: 300px;
  width: auto;
}

.single-event-txt h2 {
  font-family: 'The Artisan Script', Arial, Helvetica, sans-serif;
}

.single-event-txt a { 
  text-decoration: underline;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.single-event-txt a:hover { color: cornsilk; }

.single-details {
  padding: 20px 50px;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.single-details p {
  color: #fff8dc;
  margin-bottom: 0.5rem;
  line-height: 120%;
}

.single-event-share { margin-bottom: 50px; }

/* CATEGORY
   ========================================================================== */

#categ-comp {}


/* PRIVACY POLICY
   ========================================================================== */

#priv-policy {}

.section-starter-hdr {}




/* 404 PAGE
   ========================================================================== */

#page404 {
  padding-top: 85px;
  padding-bottom: 85px;
  color: #582929;
  text-align: center;
  text-shadow: 1px 1px 3px #ffeae6;
}

.error-txt {
  font-size: 375%;
  font-weight: bold;
}

.error-txt2 {
  font-size: 200%;
  margin-top: 40px;
}


/* FOOTER
   ========================================================================== */

#main-footer {
	padding: 40px 0 20px 0;
}

#main-footer .ft-newsletter input[type="text"],
#main-footer .ft-newsletter input[type="email"] {
  border-radius: 3px;
  color: #333;
  border-style: none;
  border: 1px solid #ccc;
  padding: 6px 10px;
  height: 35px;
  line-height: 1.3;
  margin-top: 8px;
}

#main-footer .ft-newsletter input[type="submit"] {
  background-color: #5aa167;
  border-radius: 3px;
  color: white;
  border-style: none;
  padding: 10px 15px;
}

#ft-endnotes {
	text-align: center;
	margin: 0 auto;
	transition: 0.3s;
	color: white;
	padding-top: 30px;
}

#ft-endnotes p { font-size: .9rem; }

#ft-endnotes a {
	color: #e6ccff;
	transition: 0.3s;
}

#ft-endnotes a:hover { color: white; }
#priv { margin-top: -1%; }


