/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: #333;
  background-color: #f1f1f1;
  font-family: sans-serif;
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

*,
*:before,
*:after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  box-sizing: inherit;
}

img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */
  border-style: none;
}

.perfect-pict {
  -o-object-fit: cover;
  object-fit: cover;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Links
   ========================================================================== */
a {
  background-color: transparent;
  color: #4d3160;
  font-weight: bold;
  text-decoration: none;
  transition: 0.3s;
}

/*a:visited {
	color: purple;
}*/

a:hover,
a:focus,
a:active {
  color: purple;
}
a:focus {
  outline: thin dotted;
}
a:hover,
a:active {
  outline: 0;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* ========================================================================== */

.page-header {
  text-align: center;
  font-weight: bold;
}

.section-starter-hdr {
}

/* HEADER
   ========================================================================== */
header .row {
  width: 100%;
}
.logo {
  padding-left: 15%;
}

.navmenu {
  padding-right: 15%;
}

.navlink a {
  color: white;
}
/* FRONT PAGE PANEL 1
   ========================================================================== */

#fphero {
  height: 100vh;
  width: 100vw;
  position: relative;
}

#fphero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-image: url(../assets/img/Obedient.jpg);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 65%);
}

.fpCTA {
  background-color: var(--bs-secondary);
  color: var(--bs-light);
  border-radius: 9px;
  padding: 10px 15px;
  margin: 5px;
  font-weight: bold;
  border: none;
}

/* FRONT PAGE PANEL 2
   ========================================================================== */
.fpimg1 {
  background-color: var(--bs-primary);
}
#panel2 {
  background-color: var(--bs-info);
  margin: 0;
  padding: 0;
}
.textcolp2 {
  margin-top: 5%;
}
/* FRONT PAGE PANEL 3
   ========================================================================== */

/* FRONT PAGE PANEL 4
   ========================================================================== */

/* SHARE TEMPLATE
   ========================================================================== */

#share-posts {
  width: 80%;
  margin: auto;
}

#share-posts h4 {
  font-size: 1.25rem;
  text-align: center;
}

.share-icon {
  margin: 10px 0 0 0px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 83%;
}

.share-icon a {
  margin-right: 10px;
}

.share-icon a .fa-facebook {
  font-size: 35px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.share-icon a .fa-twitter-square {
  font-size: 35px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.share-icon a .fa-linkedin {
  font-size: 35px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.copy-link-btn {
  background-color: transparent;
  padding: 3px 10px 4px 10px;
  border: 2px solid black;
  border-radius: 5px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.copy-link-btn:hover {
  background-color: #373f48;
}

#copied {
  margin: 5px 0 0 7px;
  text-align: center;
}

/* PAGE
   ========================================================================== */

/* About PAGE
   ========================================================================== */
#aphero {
  height: 100vh;
  width: 100vw;
  position: relative;
}

#aphero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-image: url(../assets/img/Obedient3.jpg);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 65%);
}

.apCTA {
  background-color: var(--bs-secondary);
  color: var(--bs-light);
  border-radius: 9px;
  padding: 10px 15px;
  margin: 5px;
  font-weight: bold;
  border: none;
}

.sectionStripe .row {
  max-width: 1200px;
  margin: auto;
  padding: 20px 0;
  justify-content: center;
}
.stripeImg img {
  width: 300px;
  height: auto;
}

#training {
  background-color: var(--bs-info);
}

/* Services PAGE / Taxonomy Service
   ========================================================================== */

#sphero {
  height: 100vh;
  width: 100vw;
  position: relative;
}

#sphero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-image: url(../assets/img/Obedient5.jpg);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 65%);
}

.spCTA {
  background-color: var(--bs-secondary);
  color: var(--bs-light);
  border-radius: 9px;
  padding: 10px 15px;
  margin: 5px;
  font-weight: bold;
  border: none;
}
.servicesRow,
.productListSidebar {
  max-width: 1400px;
  margin: auto;
}
.servicesOdd {
  margin-top: 5%;
  padding: 3% 0;
  background-color: var(--bs-info);
}
.servicesEven {
  padding: 5%;
}

.servicesDetails {
  padding-top: 2%;
}


/* Product PAGE / Taxonomy Product
   ========================================================================== */

#pphero {
  height: 100vh;
  width: 100vw;
  position: relative;
}

#pphero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-image: url(../assets/img/Obedient4.jpg);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 65%);
}

.ppCTA {
  background-color: var(--bs-secondary);
  color: var(--bs-light);
  border-radius: 9px;
  padding: 10px 15px;
  margin: 5px;
  font-weight: bold;
  border: none;
}

.productListSidebar {
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.productRow {
  justify-content: center;
}

#productPage .productCard {
  padding-left: 0;
  padding-right: 0;
}

.productCard {
  margin: 0 3% 3% 0;
  width: 300px;
  text-align: center;
}


.card-img-top {
  height: 300px;
}

.productBody {
  flex-direction: column;
}

.card-text { padding-top: 3%;}

.productSidebar {
  width: 300px;
  margin: 0 auto auto auto;
  text-align: center;
  margin-bottom: 5%;
}

/* Product Sidebar */
#sidebarProduct .sideNote {
  padding-top: 3%;
}

/* Single- Services
   ========================================================================== */
.servicesSingleRow {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  padding-bottom: 80px;
}
.servicesSingleRow h1.page-header {
  margin-top: 20px;
}
.servicesSingleRow .shrtDescript p {
  padding-bottom: 25px;
  width: 80%;
  margin: auto;
}

#product-share {
  padding-top: 10px;
}

/* product-carousel */
.carousel-inner img {
  width: auto;
  object-fit: contain;
  height: 500px;
}

.relate-post {
  margin: auto;
  text-align: center;
  height: 240px;
}

.relate-post img {
  padding-bottom: 10px;
}

/* CATEGORY
   ========================================================================== */

#categ-comp {
}

/* Contact Page
   ========================================================================== */
.contactRow {
  width: 90%;
  margin: auto;
  padding: 3% 0;
}

/* PRIVACY POLICY
   ========================================================================== */

#priv-policy {
}

.section-starter-hdr {
}

/* 404 PAGE
   ========================================================================== */

#page404 {
  padding-top: 85px;
  padding-bottom: 85px;
  color: #582929;
  text-align: center;
  text-shadow: 1px 1px 3px #ffeae6;
}

.error-txt {
  font-size: 375%;
  font-weight: bold;
}

.error-txt2 {
  font-size: 200%;
  margin-top: 40px;
}

/* FOOTER
   ========================================================================== */
#newsletter {
  padding: 2% 0;
  background-color: #ceb4cd;
}
.es-field-wrap {
  display: inline-block;
  margin-right: 10px;
}

.newsletterForm input[type="text"],
.newsletterForm input[type="email"] {
  border-radius: 3px;
  color: #333;
  border-style: none;
  border: 1px solid #ccc;
  padding: 6px 10px;
  height: 35px;
  line-height: 1.3;
  margin-top: 8px;
}

.newsletterForm input[type="submit"] {
  background-color: #736272;
  border-radius: 3px;
  color: white;
  border-style: none;
  padding: 10px 15px;
}

#main-footer {
  padding: 40px 0 20px 0;
  color: white;
}

.footRight a {
  font-size: 3rem;
  color: white;
}

#ft-endnotes {
  text-align: center;
  margin: 0 auto;
  transition: 0.3s;
  color: white;
  padding-top: 30px;
}

#ft-endnotes p {
  font-size: 0.9rem;
}

#ft-endnotes a {
  color: #e6ccff;
  transition: 0.3s;
}

#ft-endnotes a:hover {
  color: white;
}
#priv {
  margin-top: -1%;
}
